td, th { padding-top: 0; padding-bottom: 0; }
td.odsazena, th.zahlavi { padding-left: 5px; padding-right: 5px; }
tr.zahlavi td, tr.zahlavi th { padding-left: 5px; padding-right: 5px; }
tr.zahlavi, td.zahlavi, th.zahlavi { font-weight: bold; }
td.strom { padding: 0; margin: 0; border: 0; line-height: 10px; }
table.strom td:last-child { width: auto; }
td.strom img { vertical-align: middle; }
td.uzke,th.uzke { padding: 1px; margin: 1px; border: 0; }
table { font-size: 15px; }
table.strom { border-collapse: collapse; padding: 0; table-layout: auto;}
table.strom a { padding: 0; margin: 0; border: 0; }
table.strom a:hover { padding: 0; margin: 0; border: 0; }
.rozvrh-pred { color:black; background-color: lightgreen; border: dashed 1px black; }
.rozvrh-cvic { color:black; background-color: lightcyan; border: dashed 1px black; }
tr.zahlavi, td.zahlavi {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #e7ebed;
    color: #831135;
}