table{
   margin: 0 auto;
}
  td{
  text-align: center;
  padding: 0 30px;
  border: 1px solid black;
}
tr:nth-child(odd){
  background-color: #ffff80;
}
tr:nth-child(even){
  background-color: white;
}
tr:hover{
  background-color: #e6e600;
}

th{
  border: 1px solid black;
  background-color: Yellow;
}
body{
    text-align:center;
}
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 240px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
  .form{
  	text-align: center;
  }

