<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <script>
      var d = new Date();

      currentYear = d.getFullYear();
    </script>
    <footer>
      <small
        >&copy; Copyright {{<script>currentYear</script>}}, Ivan Rener</small
      >
    </footer>
  </body>
</html>
